*.swp
/out
/bin
/*/bin
/conf
*.ipr
*.iml
*.iws
idea
.idea
/lib
/doc
stacktrace.log
/dist
/idea-target
target
/build
.gradle
.DS_Store
.classpath
.project
.settings
/*/build/*
/*/classes/*
/classes
/*/.settings/*
/*/out/*
/*/*.iml
/eclipse-build
/.idea/
